
body {
    background-color: rgb(74, 202, 253);
}

.wrapper {
    background-color: rgb(90, 90, 90);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    height: 50px;
    border: 1px solid black;
    gap: 10px;
    text-align: center; /* Keskitys */
    line-height: 50px;  /* Keskitys */

}

.wrapper div {
    width: 200px;       /*etäisyys div välillä*/

}


/*wrapper 2, toinen rivi*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 200px 450px 100px 100px 100px; /* Jokaiselle laatikolle oma koko */
    gap: 5px; /* Välit laatikoiden välillä */
    width: 100%; /* Koko leveys 100% */
}

.wrapper2 div {
    background-color: rgb(255, 0, 0);
    height: 100px; /* Laatikon korkeus */
    border: 1px solid black; /* Musta reuna */
    text-align: center;
    line-height: 100px; /* Tekstin keskitys pystysuunnassa */
}